# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.so

# =========================
# Virtual Environments
# =========================

.venv/
venv/
env/

# =========================
# Environment Variables
# =========================

.env


# =========================
# Python Tooling
# =========================

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# macOS
# =========================

.DS_Store

# =========================
# Project Data
# =========================

uploads/
storage/
data/

# Future RAG directories
chroma/
embeddings/
models/

# =========================
# Local Databases
# =========================

*.db
*.sqlite3

# =========================
# Logs
# =========================

*.log

# =========================
# Build Artifacts
# =========================

build/
dist/
*.egg-info/

# =========================
# Temporary Files
# =========================

*.tmp
*.swp


# =========================
# Other
# =========================

gitcommitconvention.md
